<!--Navigation bar included throughout website-->
<link rel="stylesheet" href="../styles/header_footer.css">
<div class="navbar">
  <div id="navbar-a"> <!--Navigation links-->
    <a href="./store.html">Store</a>
    <a href="./customers.html">Customers</a>
    <a href="./projects.html">Projects</a>
    <a href="./about.html">About Us</a>
    <a class="active" href="./index.html">Home</a>
  </div>
  <div id="navbar-icon"> <!--Icon included at left of navbar-->
      <img id="icon" src="./images/scp_icon.png">
  </div>
  </div>