/*Colors Black (#000100), Floral White (#FBF9EF), Bronze (#D38236)*/

body
{
    background-color: #6b0d1c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h2, h3, h4
{
    color: #e4e1e1;
    text-align: center;
}

p
{
    color: #e4e1e1;
}


figure
{
    text-align: center;
    color: #e4e1e1;
}