body,h1,h2,h3,h4,h5,h6,p,a
{
    font-family: 'Baumans', 'Franklin Gothic Medium', sans-serif;
}

body
{
    background-color: #ef6b36;
} 

/*Hide scrollbar for different browsers*/
::-webkit-scrollbar 
{
    display: none; /*Chrome, Safari and Opera*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

h2, h3, h4
{
    color: #e4e1e1;
    text-align: center;
}

p
{
    color: #e4e1e1;
}

figure
{
    text-align: center;
}

.navbar 
{
    overflow: hidden;
    background-color: #092955;
    width: 100%;
    margin-top: 0px;
}
  
.navbar a
{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 20px;
    padding-bottom: 28px;
    text-decoration: none;
    font-size: 25px;
}
  
.navbar a:hover
{
    background-color: #ef6b36;
}
  
.navbar a.active 
{
    text-align: left;
    color: white;
}

.navbar #icon
{
    padding-top: 8px;
}

.footer
{
    background-color: #092955;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer p
{
    color: white;
    text-align: center;
    font-size: 14px;
    margin: 1px;
    padding: 3px;
}
  
.footer a
{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 14px;
    margin: 1px;
    padding: 3px;
}

.w3-col #honda, #kawasaki, #suzuki, #yamaha
{
    font-family: 'Baumans', 'Franklin Gothic Medium', sans-serif;
    color: black;
    margin-left: 10px;
    margin-top: 30%;
    margin-bottom: 20%;
}

.w3-col #honda
{
    background-color: #c8102e;
}

.w3-col #kawasaki
{
    background-color: #73A84A;
}

.w3-col #suzuki
{
    background-color: #F7CD36;
}

.w3-col #yamaha
{
    background-color: #0e4bef;
}

.w3-col #collage
{
    margin-bottom: 100px;
}

